---
import Section from "@/components/Section.astro";

import { basics } from "@cv-br";
const { summary } = basics;
---

<div class="about">
  <Section title="Resumo profissional">
    <p>
      {summary}
    </p>
  </Section>
</div>

<style>
  @media (min-width: 768px) {
    p {
      font-size: 0.874rem;
    }
  }

  @media (min-width: 1024px) {
    p {
      font-size: 0.874rem; /* Tamaño para pantallas extra grandes */
    }
  }
</style>
