---
import Section from "@/components/Section.astro";

import { basics } from "@cv-br";
const { summary } = basics;
---

<div class="about">
  <Section title="Sobre mim">
    <p>
      {summary}
    </p>
  </Section>
</div>

<style>
  .about {
    max-width: 700px;
    margin: 0 auto 38px;
    margin-bottom: 44px;
  }
</style>
