---
import Layout from "@/layouts/Layout.astro";
import About from "@/pages/br/About.astro";
import Education from "@/pages/br/Education.astro";
import Experience from "@/pages/br/Experience.astro";
import Hero from "@/pages/br/Hero.astro";
import Projects from "@/pages/br/Projects.astro";
import Skills from "@/pages/br/Skills.astro";
import ThemeIcon from "@/components/ThemeIcon.astro";
import { basics } from "@cv-br";
import OthersB from "../br/OthersB.astro";
const { name, label } = basics;
---

<Layout title={`${name} | ${label}`}>
  <main>
    <div
      style="text-align: right; margin-right: 36px; margin-top: 20px; font-family: Arial, sans-serif;"
    >
      <div class="no-print">
        <div class="idiomas">
          <a href="/">ES</a>&nbsp; &nbsp;|&nbsp;
          <a href="/en">EN</a>&nbsp; &nbsp;|&nbsp;
          <a href="/br">BR</a>
        </div>
      </div>
    </div>
    <ThemeIcon />
    <Hero />
    <About />
    <Education />
    <OthersB />
    <Projects />
    <Skills />
  </main>
</Layout>
<style>
  .a {
    color: black;
  }

  @media (min-width: 768px) {
    a {
      text-decoration: none;
      font-size: 2.2rem;
    }
  }

  @media (min-width: 1024px) {
    a {
      text-decoration: none;
      font-size: 1rem;
    }
  }
  @media (min-width: 768px) {
    .idiomas {
      text-decoration: none;
      font-size: 2rem;
    }
  }

  @media (min-width: 1024px) {
    .idiomas {
      text-decoration: none;
      font-size: 1rem;
    }
  }
</style>
