---
import Section from "@/components/Section.astro";
import { projects } from "@cv-br";
---

<Section title="Projetos">
  <ul>
    {
      projects.map(({ name, description, highlights, isActive }) => {
        return (
          <li>
            <element class="article-1">
              <article>
                <div class="proyecto">
                  <header>
                    <h3>
                      {name} {isActive && <span class="activo">&bull;</span>}
                      {isActive == false && (
                        <span class="no-activo">&bull;</span>
                      )}
                    </h3>
                    <p>{description}</p>
                  </header>
                  <footer>
                    {highlights.map((highlight) => {
                      return <span>{highlight}</span>;
                    })}
                  </footer>
                </div>
              </article>
            </element>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  @media (min-width: 768px) {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
      gap: 1.5rem;
    }
  }

  @media (min-width: 1024px) {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
    }
  }
  article {
    border-radius: 8px;
    border: 1.6px solid #dfdfdf;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    background: #ffffff;
  }

  article header {
    flex: 1;
    margin-bottom: 35px;
  }

  article h3 {
    margin-bottom: 4px;
    font-size: 1.4rem;
  }
  @media (min-width: 768px) {
    article h3 {
      margin-bottom: 4px;
      font-size: 1.8rem;
    }
  }

  @media (min-width: 1024px) {
    article h3 {
      margin-bottom: 4px;
      font-size: 1.17rem;
    }
  }
  article h3 span.activo {
    color: rgb(0, 210, 52);
  }

  article h3 span.no-activo {
    color: rgb(243, 6, 6);
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }

  @media (min-width: 768px) {
    article p {
      font-size: 1.35rem; /* Tamaño para pantallas grandes */
      line-height: 1.5rem;
      margin-bottom: 1px;
      margin-top: 8px;
    }

    article {
      border-radius: 8px;
      border: 4.5px solid #dfdfdf;
      gap: 16px;
      display: flex;
      flex-direction: column;
      padding: 16px;
      height: 100%;
      background: #ffffff;
    }
    footer span {
      border-radius: 9px;
      background: #d1d5db;
      color: #4b5563;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.125rem 0.625rem;
    }
  }

  @media (min-width: 1024px) {
    article p {
      font-size: 0.75rem; /* Tamaño para pantallas extra grandes */
      line-height: 1.2rem;
      margin-bottom: 4px;
    }

    article {
      border-radius: 8px;
      border: 1.6px solid #dfdfdf;
      gap: 16px;
      display: flex;
      flex-direction: column;
      padding: 16px;
      height: 100%;
      background: #ffffff;
    }

    footer span {
      border-radius: 9px;
      background: #d1d5db;
      color: #4b5563;
      font-size: 0.7rem;
      font-weight: 500;
      padding: 0.125rem 0.625rem;
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 0.6rem;
    margin-bottom: -25px;
  }

  .footer span {
    border-radius: 6px;
    background: #0e3978;
    color: #4b5563;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.125rem 0.625rem;
  }

  @media (min-width: 768px) {
    article {
      border-radius: 8px;
      border: 1.6px solid #dfdfdf;
      gap: 16px;
      display: flex;
      flex-direction: column;
      padding: 16px;
      height: 100%;
      background: #ffffff;
      margin-bottom: 35px;
    }
  }

  @media (min-width: 1024px) {
    footer {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      font-size: 0.6rem;
      margin-bottom: -25px;
    }
  }
</style>
