---
import Layout from "@/layouts/Layout.astro";
import About from "@/pages/en/About.astro";
import Education from "@/pages/en/Education.astro";
import Experience from "@/pages/en/Experience.astro";
import Hero from "@/pages/en/Hero.astro";
import Projects from "@/pages/en/Projects.astro";
import Skills from "@/pages/en/Skills.astro";
import KeyBoardManager from "@/pages/KeyBoardManager.astro";
import ThemeIcon from "@/components/ThemeIcon.astro";
import { basics } from "@cv-en";
const { name, label } = basics;
---

<Layout title={`${name} | ${label}`}>
  <main>
    <div
      style="text-align: right; margin-right: 36px; margin-top: 20px; font-family: Arial, sans-serif;"
    >
      <div class="no-print">
        <a href="/">ES</a>&nbsp; &nbsp;|&nbsp;
        <a href="/en">EN</a>
      </div>
    </div>
    <ThemeIcon />
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <KeyBoardManager />
</Layout>
<style>
  .a {
    color: black;
  }
</style>
