---
import Section from "@/components/Section.astro";
import { skills } from "@cv-en";
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => (
        <li class="habilidades">
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .span .habilidades {
    border-radius: 10px;
    background: #d1d5db;
    color: #4b5563;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.125rem 0.625rem;
  }

  @media (min-width: 768px) {
    .habilidades span {
      border-radius: 10px;
      background: #d1d5db;
      color: #4b5563;
      font-size: 1.11rem;
      font-weight: 500;
      padding: 0.125rem 0.625rem;
    }
  }

  @media (min-width: 1024px) {
    .habilidades span {
      border-radius: 10px;
      background: #d1d5db;
      color: #4b5563;
      font-size: 0.7rem;
      font-weight: 500;
      padding: 0.125rem 0.625rem;
    }
  }
</style>
