---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="Perfil">
  <p>
    {summary}
  </p>
</Section>
<style>
  @media (min-width: 768px) {
    p {
      font-size: 0.874rem;
    }
  }

  @media (min-width: 1024px) {
    p {
      font-size: 0.874rem; /* Tamaño para pantallas extra grandes */
    }
  }
</style>
