---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyBoardManager from "@/components/KeyBoardManager.astro";
import ThemeIcon from "@/components/ThemeIcon.astro";
import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <div
      style="text-align: right; margin-right: 36px; margin-top: 20px; font-family: Arial, sans-serif;"
    >
      <div class="no-print">
        <a href="/">ES</a>&nbsp; &nbsp;|&nbsp;
        <a href="/en">EN</a>
      </div>
    </div>

    <ThemeIcon />
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <KeyBoardManager />
</Layout>
<style>
  .a {
    color: black;
  }
</style>
