---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <div class="background"></div>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      "Courier New",
      Courier,
      monospace;
    background: #fff;
    letter-spacing: -0.09rem;
  }

  body,
  figure {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  *,
  **::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    font-weight: 550;
  }

  .dark h2 {
    color: #f1e5e5;
    font-weight: 580;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  .dark .info h2 {
    color: #d9d8d8;
  }

  .dark .info span {
    color: #b1b3b3;
  }

  article {
    font-weight: 500;
    color: #111;
  }
  .dark article h3 {
    font-weight: 550;
    color: #cac9c9;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  .dark .article-1 article {
    background: #111;
    border-color: #444;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }
  .dark article h4 {
    color: #ffffff;
    font-weight: 450;
  }

  time {
    font-size: 0.85rem;
    color: #555;
  }

  .dark time {
    color: #e7e5e5;
    font-size: 0.85rem;
  }

  .dark img {
    aspect-ratio: 1/1.25;
    object-fit: cover;
    width: 125px;
    border-radius: 13px;
    border-width: 1.8px;
  }

  img {
    aspect-ratio: 1/1.25;
    object-fit: cover;
    width: 125px;
    border-radius: 13px;
    border-width: 1.8px;
  }

  p {
    color: #666;
    font-size: 0.874rem;
    line-height: 1.4;
    margin: 0;
    text-wrap: pretty;
  }

  .dark p {
    color: #d6d5d5;
    font-size: 0.874rem;
    line-height: 1.4;
    margin: 0;
    text-wrap: pretty;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .dark a {
    color: white;
    text-decoration: none;
  }

  .background {
    color: white;
  }

  .dark .background {
    color: black;
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }

  .print {
    display: none !important;
  }
  .no-print {
    margin-left: -1px;
  }

  footer a {
    color: #746f6f;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    padding: 1px;
    height: 28px;
    width: 28px;
    border-radius: 6px;
    transition: all 0.3s ease;
    margin: 0.5px;
  }

  .dark footer a {
    color: #ddd4d4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 1px;
    height: 28px;
    width: 28px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  .dark footer a:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: black;
  }

  footer span {
    border-radius: 9px;
    background: #d1d5db;
    color: #4b5563;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.125rem 0.625rem;
  }
  .dark footer span {
    background: #4b5563;
    color: #d1d5db;
  }

  .habilidades span {
    border-radius: 10px;
    background: #d1d5db;
    color: #4b5563;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0.125rem 0.625rem;
  }

  .dark .habilidades span {
    background: #4b5563;
    color: #d1d5db;
  }
  a:hover {
    text-decoration: underline;
  }

  @media print {
    body,
    body *,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #222 !important;
    }

    .background {
      color: #fff;
    }

    a {
      color: black;
    }

    .no-print {
      display: none !important;
    }
    .print {
      display: block !important;
    }

    span.activo {
      display: none !important;
    }

    span.no-activo {
      display: none !important;
    }
  }
</style>
